/* Animations */

/* 
EGENSKAPER:
background-color: gray;
transition: transform 1s;              <-- muy importante!
color: blue;
transform: translateX(0) translateY(0)
scale: 110%;
rotate: 1 0 1 120deg;
width
height
animation: regelnamn millisekunder;

REGLER:
@keyframes namn 
*/

.parent {

}

.child {
    color: white;
    background: rgb(59, 5, 236);
}





/* keyframe-regler du kan prova 
   aktivera genom att skriva animation: regelnamn millisekunder;
   i den sak som ska animeras.
*/

@keyframes rotate {
   0% {
       rotate: 1 0 1 0deg;
   }

   50% {
       background-color: red;
   }

   100% {
       rotate: 1 0 1 360deg;
       background-color: blue;
     
   }
}